{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'signupApp/main.css' %}">
    <link rel="stylesheet" href="{% static 'signupApp/confirmation.css' %}">
    <script src="https://kit.fontawesome.com/d8440dd275.js" crossorigin="anonymous"></script>
    <title>Groups Signup</title>
</head>
<body>
    <div class="head">
        <a href="/" class="homeLink">Groups Signup</a>
        <a href="#" class="infoBtn"><i class="fas fa-info"></i></a>
    </div>

    <div class="mainCard">
        <div class="cardHead">
            <h2>
                <a href="/"><i class="fas fa-chevron-left"></i></a>
                Confirmation - GROUP NAME</h2>
            <h2>Date/of</h2>
        </div>
        <div class="splitBody">
            <div>
                <h2>Full Name</h2>
                <h2>Age</h2>
                <h2>Registration ID: id</h2>
            </div>
            <div class="listFlex">
                <ul><li>Bla</li></ul>
            </div>
        </div>
    </div>

</body>
</html>