{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'signupApp/main.css' %}">
    <link rel="stylesheet" href="{% static 'signupApp/confirmation.css' %}">
    <script src="https://kit.fontawesome.com/d8440dd275.js" crossorigin="anonymous"></script>
    <title>Groups Signup</title>
</head>
<body>
    <div class="head">
        <a href="/" class="homeLink">Groups Signup</a>
        <a href="#" class="infoBtn"><i class="fas fa-info"></i></a>
    </div>

    <div class="mainCard">
        <div class="cardHead">
            <h2>
                <a href="/"><i class="fas fa-chevron-left"></i></a>
                Confirmation - {{register.event.title}}</h2>
            <h2>{{register.event.date}}</h2>
        </div>
        <div class="splitBody">
            <div>
                <h2>{{register.firstName}} {{register.lastName}}</h2>
                <h2>Age: {{register.age}}</h2>
                <h2>Registration ID: {{register.pk}}</h2>
            </div>
            <div class="listFlex"><!--
                <ul><li>Each Group Is Limited to 15 Children</li></ul>
                <ul><li>Groups will be held outside in the back of 609, parents may not enter the backyard with their children</li></ul>
                <ul><li>During drop off, children will be taken to their group by a group leader. If late a group leader will be there to bring the child to their group.</li></ul>
                <ul><li>During pickup a group leader will meet parents one by one to pick up their kids. A Group leader will bring children to their parents. Parents MUST wear a mask during pickup and drop off.</li></ul>
                <ul><li>IMPORTANT: No child who comes to groups may leave by themselves even if it is normal practice to do so, a parent MUST pickup their kids and children may not leave the premises otherwise</li></ul>
            --></div>
        </div>
    </div>

</body>
</html>