{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'signupApp/main.css' %}">
    <link rel="stylesheet" href="{% static 'signupApp/index.css' %}">
    <script src="https://kit.fontawesome.com/d8440dd275.js" crossorigin="anonymous"></script>
    <title>Groups Signup</title>
</head>
<body>
    <div class="head">
        <a href="/" class="homeLink">Groups Signup</a>
        <a href="#" class="infoBtn"><i class="fas fa-info"></i></a>
    </div>

    <div class="mainCont">
        <div class="events">
            {% for event in events %}
            
            <div class="eventCard">
                <div class="titleBar"><h4>{{event.1}}</h4><h4>{{event.2}}</h4></div>
                {% if event.0 %}
                <div class="groupOptions">
                    {% for group in event.3 %}
                    <a class="linkBtn {{group.2}}" href="/register/{{event.4}}/{{group.0}}">{{group.1}}</a>
                    {% endfor %}
                </div>
                {% elif not event.0 %}
                <div class="extEvent"><a href="{{event.3}}" class="linkBtn largeBtn" target="_blank">More Info</a></div>
                {% endif %}
            </div>
            {% endfor %}

        </div>

        <div class="info">
            <div class="infoCard">
                <h2>Groups Info</h2>
                <ul>
                    <li>Each Group Is Limited to 15 Children</li>
                    <li>Groups will be held outside in the back of 609, parents may not enter the backyard with their children</li>
                    <li>During drop off, children will be taken to their group by a group leader. If late a group leader will be there to bring the child to their group.</li>
                    <li>During pickup a group leader will meet parents one by one to pick up their kids. A Group leader will bring children to their parents. Parents MUST wear a mask during pickup and drop off.</li>
                    <li>IMPORTANT: No child who comes to groups may leave by themselves even if it is normal practice to do so, a parent MUST pickup their kids and children may not leave the premises otherwise</li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>