{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'signupApp/main.css' %}">
    <link rel="stylesheet" href="{% static 'signupApp/register.css' %}">
    <script src="https://kit.fontawesome.com/d8440dd275.js" crossorigin="anonymous"></script>
    <title>Groups Signup</title>
</head>
<body>
    <div class="head">
        <a href="/" class="homeLink">Groups Signup</a>
        <a href="#" class="infoBtn"><i class="fas fa-info"></i></a>
    </div>

    <div class="mainCard">
        <div class="cardHead">
            <h2>{{event.title}} - {{group.name}}</h2>
            <h2>{{event.date}}</h2>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="inputGroup-221">
                <div>
                    <h3>{{form.firstName.label}} *</h3>
                    {{form.firstName}}
                </div>
                <div>
                    <h3>{{form.lastName.label}} *</h3>
                    {{form.lastName}}
                </div>
                <div>
                    <h3>{{form.age.label}} *</h3>
                    {{form.age}}
                </div>
                <div>
                    <h3>{{form.allergies.label}}</h3>
                    {{form.allergies}}
                </div>
            </div>
            <div class="inputGroup-111">
                <div>
                    <h3>{{form.pickupName.label}} *</h3>
                    {{form.pickupName}}
                </div>
                <div>
                    <h3>{{form.parentLocation.label}} *</h3>
                    {{form.parentLocation}}
                </div>
                <div>
                    <h3>{{form.address.label}} *</h3>
                    {{form.address}}
                </div>
            </div>
            <button type="submit", name="save">Register</button>
        </form>
    </div>

</body>
</html>