{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'manageApp/main.css' %}">
    <link rel="stylesheet" href="{% static 'manageApp/home.css' %}">
    <script src="https://kit.fontawesome.com/d8440dd275.js" crossorigin="anonymous"></script>
    <title>Groups Signup</title>
</head>
<body>
    <div class="head">
        <a href="/manage" class="homeLink">Groups Signup - Manage</a>
        <a href="#" class="logoutBtn">Logout</a>
    </div>

    <div class="mainCard">
        <a href="#" class="manageBtn">Manage Groups</a>
        <a href="#" class="manageBtn">Manage Events</a>
        <a href="#" class="manageBtn">Other Settings</a>
    </div>

</body>
</html>